html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    /* row: todos os elementos ficam dispostos lado a lado*/
    align-items: stretch;
    /* strech: forma como o html define o 'ponto fixo',
    nesse caso não é nem no topo ou fim, apenas calcula os espaços*/
    flex: 1;
    /* calcula o espaço vazio para redimensionar os elementos*/
}

aside{
    background-color: pink;
    width: 220px;
}

header{
    background-color: mediumaquamarine;
    display: flex;
    /* alinha os itens dentro do header*/
    flex-direction: row;
    justify-content: space-around;
}

main{
    background-color: green;
    flex: 1;
}

footer{
    height: 60px;
    background-color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}